@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
a{
  text-decoration: none;
}

p {
  color: #5b5b5b;
  font-size: 1.5rem;
}


.nav{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.nav,
.nav_item{
  display:flex;
  height: 100;
  align-items: center;
  justify-content: space-between;
}
.nav_link{
  margin: 0 20px;
}

.nav_logo,
.nav_link,
.button{
  color: #fff;
}
.nav_logo{
  font-size: 25px;
}
.nav_item{
  column-gap: 25px;
}

.nav_link:hover{
  color: #d9d9d9;
}
.button{
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius : 6px;
  cursor: pointer;
}
.button:active{
  transform: scale(0.98);
}

html, body {
  height: 100%; /* Ensure html and body take full height */
  margin: 0; /* Remove default margin */
}
body {
  margin: 0; /* Remove default margin */
  background-image: url('/static/RedRain.jpg'); /* Path to your image */
  background-size: cover; /* Cover entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100%; /* Ensure the body takes full height */
  display: flex;
  flex-direction: column; /* Ensure content is stacked vertically */
  overflow: hidden;
}
.home{
  flex-grow: 1;
  height: calc(100vh - 65px);
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;

  margin-top: 65px;

}

.dropdown {
  margin-top: 10px;
}



.dropdown-container {
  width: 10%; /* Set the width of the dropdown container */
  margin-top: 30px; 
}

.dropdown select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;; /* Use the same font family as the rest of the form */
  font-size: 12px; /* Use the same font size as the rest of the form */
  
}



.input_group_label {
  display: inline-block;
  
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  margin-top: 43px; /* Adjust as needed */
  margin-right: 5px;
  margin-bottom: 0px; /* Adjust as needed */
  font-size: 12px;
  color: rgba(77, 82, 102, 0.828);
}

.row {
  display: flex; /* Make the container a flexbox */
  align-items: center; /* Align items vertically */
}

    .buttonsubscription {
      cursor: pointer;
      color: #fff;
      position: relative;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    .buttonsubscription::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
    
}
    .buttonsubscription:hover::before,
    .buttonsubscription.active::before {
      transform: scaleX(1);
      transform-origin: bottom left;
      background-color: #4d8bcd;
    }
    .buttonsubscription:hover,
    .buttonsubscription.active {
      color: #d9d9d9;
    }
    .button:active {
      transform: scale(0.98);
    }
 
    .buttonlogout {
      padding: 4px 22px;
      border: 1.2px solid #fff;
      background: transparent;
      border-radius: 50px;
      cursor: pointer;
      font-size: 15px;
      color: #fff;
    }
   
        .circle-container {
    position: relative;
    display: inline-block;
    
}

.circle {
    position: relative;
    width: 40px; /* Adjust size of the circle */
    height: 40px; /* Adjust size of the circle */
    border: 1px solid white; /* White border */
    border-radius: 50%; /* Make it a circle */
    overflow: hidden;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(90, 93, 147), #110659);
    color: white; /* Text color */
    font-size: 20px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer */
}


    .circle-dropdown-content a + a,
    .dropdown-content a + a {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    .circle-dropdown-content a:first-child,
    .dropdown-content a:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .circle--content a:last-child,
    .dropdown-content a:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .circle-dropdown-content::before,
    .circle-dropdown-content::after,
    .dropdown-content::before,
    .dropdown-content::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      top: calc(100% - 1px);
    }
    .circle-dropdown-content::before,
    .dropdown-content::before {
      top: -1px;
    }
    .circle-dropdown-content a:hover,
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background: linear-gradient(to right, rgb(152, 160, 180), #cbd1dd);
      min-width: 250px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
    }

    .circle-dropdown-content{
      display: none;
      position: absolute;
      background: linear-gradient(to right, rgb(152, 160, 180), #cbd1dd);
      min-width: 250px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
      top: calc(100% + 5px);
      left: calc(50% - 90px);
      transform: translateX(-50%);
    }
    .circle-dropdown-content a,
    .dropdown-content a {
      color: rgb(9, 13, 44);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background 0.3s;
    }