@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.a {
  text-decoration: none;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: white;
  color: #162938;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/static/borító14.jpg') no-repeat center center;
  background-size: cover;
}

.logo {
  font-size: 2em;
  color: white;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.wrapper {
  position: fixed; /* Position the form relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%) scale(0); /* Initial state: centered but scaled down */
  width: 350px;
  height: 480px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 30px rgba(0,0,0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.5s;
  z-index: 100; /* Ensure it appears on top */
}

.wrapper.active-popup {
  transform: translate(-50%, -50%) scale(1); /* Scale up when active */
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  width: 37px;
  height: 37px;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #162938;
  text-align: center;
}

.form-box p {
  font-size: 12px;
  margin-top: 4px;
  color: #162938;
}

.input_box input {
  margin-top: 2px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-size: 12px;
  border: 1px solid rgb(183, 182, 182)
}

.button_form {
  margin-top: 8px;
  width: 100%;
  height: 22px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
