<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website with Login & Registration Form</title>
    <link rel="stylesheet" href="static/stylereset.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  </head>
  <body>
    
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">Red Rain</a>
  
        <ul class="nav_items">
          <li class="nav_item">
            <h2 class="nav_logo">Password Reset Page</h2>
          </li> 
        </ul>
      </nav>
    </header> 

    <div id="flash-messages-container">

      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <div class="flash-messages">
                  {% for category, message in messages %}
                      <div class="flash-message {{ category }}">
                          {{ message }}
                      </div>
                  {% endfor %}
              </div>
          {% endif %}
      {% endwith %}
    </div>
    <!-- Home -->
    <section class="home">
      <div class="form_container">
        

<!-- RESET -->

        <div class="form reset_form">
          <form class="reset-form" id="resetForm" action="{{ url_for('reset_request') }}" method="post">
            {{ reset_form.csrf_token }}
            {{ reset_form.hidden_tag() }}
            <h2>Reset Password</h2>
            {% if reset_form.errors %}
              <div class="error">
                  {% for error in reset_form.errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
              </div>
            {% endif %}
            <div class="input_box">
              
              <div class="input_with_icon">
                  <i class="uil uil-envelope-alt email"></i>
                  {{ reset_form.email(placeholder="Enter your email", required=true) }}
              </div>
              {% for error in reset_form.email.errors %}
                  <p class="error">{{ error }}</p>
              {% endfor %}
            </div>
            
            <button type="submit" class="button" id="resetButton">Reset Now</button>
            
          </form>
        </div>
      </div>  
    </section>
   
  </body>
</html>